*.pyc
**/__pycache__
**/.ipynb_checkpoints
**/.DS_Store
*.Icon
*.egg-info/
dist
examples
tensorboard
experimental
TODO.txt

.trunk/logs
.trunk/trunk.yaml
.trunk/trunk.yaml

build
tests.ipynb
tests.ipynb
test.ipynb
